$black: #000000;
$text-color: #ffffff;
$sectext: #999999;
$btnbgcolor: #e60065;
$actor-text: #2c3847;
$videobg: #3d0a21;
$reviewbg: #03494d;
$review-hading: #272727;
$review-para: #949da3;
$footerbg: #23262b;
$actor-gradient: linear-gradient(#e60065, #0c5445);
$hero-gradient: linear-gradient(297.49deg, #0a0a0a 32.71%, #97215d 93.59%);
